{% extends "boilerplate.html" %}

{% block title %}
Sign Up
{% endblock %}


{% block body %}

<div class="row content d-flex justify-content-center">
    <div class="col-md-5">
        <div class="box p-4">
            <div class="col-md-12 fw-bold fs-1 text-center">User Registration</div>
            <div class="col-md-12 fs-5 text-center">
                {% if error_message %}
                <p style="color: red; margin: 1rem">
                    {{ error_message }}
                </p>
                {% endif %}
            </div>
            <form class="mb-3" action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-floating mb-3">
                    <input type="{{ field.widget_type }}" class="form-control rounded-0" name="{{ field.html_name }}" id="{{ field.id_for_label }}" placeholder="placeholder" required/>
                    <label for="{{ field.html_name }}">
                        {% if field.html_name == 'username' %}
                        Username
                        {% elif field.html_name == 'password1' %}
                        Password
                        {% elif field.html_name == 'password2' %}
                        Verify Password
                        {% endif %}
                    </label>
                    <p>{{ field.help_text}}</p>
                </div>
                {% endfor %}
            <div class="d-grid gap-2 mb-3">
                <input type="submit" class="btn btn-outline-dark" data-mdb-ripple-color="dark" value="Register" />
            </div>
            </form>
            <div class="col-md-12 fs-5 text-center">
                <p>Already have an account?</p>
            </div>
            <div class="d-grid gap-2 mb-3">
                <a class="btn btn-outline-dark" data-mdb-ripple-color="dark" href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</div>



{% endblock %}